  
  .card {
    overflow: hidden;
  }
  
  .header {
    border-radius: var(--br-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    padding: 2rem;
    background-color: var(--bg-color);
    img {
      height: 13rem;
      width: 13rem;
    }
    @media (max-width: 640px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  
  .purchaseOrdersTableContainer {
    overflow-x: auto;
  }
  
  .purchaseOrdersTable {
    padding: 1.2rem;
    border-radius: var(--br-radius);
    margin-top: 1em;
    width: 100%;
    // border-collapse: collapse;
    background-color: var(--bg-color);
    
    
    th, td {
      padding: .9em .7rem;
      text-align: left;
      // border-bottom: 1px solid #f0f0f0;
    }
    
    tr:last-child td {
      border-bottom: none;
    }
    
}
// .paid {
//   color: #34c759;
// }

// .unpaid {
//   color: #ff9500;
// }
  
@media (max-width: 768px) {
  .purchaseOrdersTable {
    th, td {
      padding: 0.75rem;
      font-size: 0.75rem;
    }
  }
}
  
  