$sidebar-active-bg: #ff3b3b;
$sidebar-active-text: #fff;
$sidebar-hover-bg: #e0e0e0;
$sidebar-section-spacing: 20px;


.navbar {
  display: none;
  height: var(--navbar-height);
  background-color: #fff;
  z-index: 99;
  position: fixed;
  width: 100%;
  @media screen and (max-width: 1200px) {  
    display: block;
  }
}
.navButton {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
  &:active {
    background-color: #e0dede;
  }
}
.sidebar {
  flex-shrink: 1;
  width: var(--sidebar-width);
  //min-width: 180px;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  z-index: 99;
  transition: left 0.3s ease;
  position:fixed;
  padding: 2.1rem 0 0 1.1rem;
  line-height: 1;
  // left: 0;
  
  
  @media screen and (max-width: 1200px) {
      height: 100%;
      position: absolute;
      margin-top: 40px;
      left: -100%;
  }


  h2 {
    margin-left: 1rem;
  }
  .section {
    margin-bottom: $sidebar-section-spacing;
    
  }
  .title {
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  //refactorizar codigo
  .link {
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    transition: all 0.2s ease;
    position: relative;
    &:hover {
      &:hover {
        color: var(--text-color-3-active) !important;
        &::after {
          content: '';
          z-index: -1;
          width: 120%;
          height: 100%;
          position: absolute;
          background-color: $sidebar-hover-bg;
          left: -10%;
          top: 0;
        }
      }
    }
    
    // &.active {
    //   background-color: $sidebar-active-bg;
    //   color: $sidebar-active-text;
    // }
  }
  .active {
    color: var(--text-color-4) !important;
      &::before {
        content: '';
        z-index: -1;
        width: 120%;
        height: 100%;
        position: absolute;
        background-color: $sidebar-active-bg;
        left: -10%;
        top: 0;
      }
    }
}




// &.active {
//   background-color: $sidebar-active-bg;
//   color: $sidebar-active-text;
// }
// }
